.sendForm {
    /* Контейнер формы отправки сообщения */
display: flex;
    gap: 44px;
    margin-top: 70px;
    align-items: center;
    position: relative;
}

.sendForm::after {
    content: '';
    position: absolute;

    bottom: -35px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
}

.textarea {
    /* Поле ввода текста (многострочное) */

    border-radius: 20px;
    width: 976px;
    height: 40px;
    resize: none;
    padding: 8px 16px;
    outline: none;
    overflow: hidden;
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
    background: #f5f7fb;
    border: 1px solid #F5F7FB;
}

.button {
    /* Кнопка отправки сообщения */
    font-family: "Montserrat", sans-serif;
    border-radius: 20px;
    width: 120px;
    height: 40px;
    font-weight: 600;
    font-size: 16px;
    outline: none;
    border: none;
}

.button:hover {
    /* Стили кнопки при наведении */
    background: #06c;
    font-weight: 600;
    font-size: 16px;
    color: #fff;


}

.button:active {
    /* Стили кнопки при нажатии */
}
